.news_card_container {
    max-width: 100px;
    height: 25px;
    padding: 0.5rem;
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news_alert {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(68, 177, 68);
    padding: 0rem 0.2rem;
    color: var(--bs-white);
}

.marquee_container {
    background-color: var(--bs-dark);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    .marquee_item {
        color: var(--bs-white);
        padding: 0.2rem 0.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}
